@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --icones: 676767;
  --announce: #1E3A8A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

.dark {
  --background: #0a0a0a; /* Couleur de fond pour le mode sombre */
  --foreground: #0a0a0a; /* Couleur de texte pour le mode sombre */
  --icones: #b3b8c1;
  --announce: #1E3A8A;
}

@media screen and (max-width: 768px) {
  body {
    width: 90%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
