* {
  user-select: none;
}

body {
  transition: background-color 0.3s, color 0.3s;
  padding: 0;
  margin: 0;
  place-items: unset;
  display: flex;
  justify-content: center;
  font-family: "Amatic SC", sans-serif; /* Default font */
}

/* Light mode styles */
.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode styles */
.dark-mode {
  --background-color: #0d0e11;
  --text-color: #ffffff;
}

/* Apply the CSS variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: "Amatic SC";
  src: url("./assets/fonts/AmaticSC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Amatic SC Bold";
  src: url("./assets/fonts/AmaticSC-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sometype Mono";
  src: url("./assets/fonts/SometypeMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sometype Mono SemiBold";
  src: url("./assets/fonts/SometypeMono-SemiBold.ttf") format("truetype");
}

.theme-toggle {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  height: fit-content;
  margin-top: 50px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.chip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
}

.project-container {
  width: 100%;
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  padding: 15px;
}

.project-container img {
  width: 290px;
}

.btn {
  margin-top: 20px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 60px;
}

.skills-title {
  width: 100%;
  text-align: left;
  padding-left: 15px;
  font-family: Sometype Mono;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.project-desc {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.hovered {
  background-color: #242424 !important;
  color: #4f4f4f !important;
}

.abilitie {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.learning {
  margin-top: 30px;
}
table {
  width: 100%;
  margin-top: 50px;
}
table,
tr,
th,
td {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  width: calc(100% / 3);
}

.source {
  display: "flex";
  flex-direction: "row";
}

.buttons-download {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.year {
  display: flex;
  flex-direction: column;
  font-family: "Sometype Mono";
  justify-content: center;
}

.skills-container {
  width: 90%;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
  .about {
    width: 80%;
  }

  .project {
    width: 80%;
  }

  .skills {
    width: 80%;
  }

  .project-desc {
    padding-left: 0px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: justify;
  }

  .btn {
    width: 60%;
  }

  .btn-abilite {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .parcours .btn-year {
    font-size: 15px !important;
  }

  .parcours-title {
    width: 85% !important;
  }

  .responsive-table {
    display: block;
  }
  .responsive-section {
    margin-bottom: 20px;
  }
  .responsive-section th,
  .responsive-section td {
    display: block;
    border: none;
  }
  .responsive-section th {
    font-size: 1.2em;
    text-align: left;
    margin-top: 20px;
  }

  .source {
    display: "flex";
    flex-direction: "row";
    margin-bottom: "25px";
  }

  .source-title {
    width: 50%;
  }

  .buttons-download {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .buttons-download a{
    margin-top: 15px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .year {
    display: flex;
    flex-direction: row;
    font-family: "Sometype Mono";
  }

  .skills-container {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .theme-toggle {
    top: 20px;
    right: 20px;
  }

  .about {
    width: 80%;
  }

  .project {
    width: 80%;
  }

  .skills {
    width: 100%;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    height: auto;
  }

  .project-container img {
    width: 250px;
  }

  .skills-title {
    margin-left: 50px;
  }

  .btn {
    width: 60%;
  }

  .skills-title {
    margin-left: 50px;
    width: 80%;
  }

  .project-text {
    margin-top: 15px;
  }

  .project-desc {
    padding-left: 0px;
    padding-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: justify;
  }

  .btn-abilite {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .parcours .btn-year {
    font-size: 15px !important;
  }

  .parcours-title {
    width: 85% !important;
  }

  .source {
    display: "flex";
    flex-direction: "row";
    margin-bottom: "25px";
    align-items: center;
    justify-content: center;
  }

  .source-title {
    width: 50%;
  }

  .buttons-download {
    width: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .buttons-download a{
    margin-top: 15px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .year {
    display: flex;
    flex-direction: row;
    font-family: "Sometype Mono";
  }

  .skills-container {
    width: auto;
  }
}
